.installed.cfg
*.py[cod]
*.hy[cod]
*$py.class
*.so
*.egg-info
*.egg-info/
*.egg
.eggs/
.Python
__pycache__/
build/
develop-eggs/
dist/
eggs/
share/python-wheels/
wheels/

sphyctre/__pycache__/
sphyctre/*.py[cod]
sphyctre/*.hy[cod]
sphyctre/*$py.class

tests/proprietary/

tb.ahdlSimDB/
*.log
